
.register-page {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  
  .success-message {
      margin-top: 40px;
      padding: 20px;
      background-color: #d4edda; 
      color: #155724; 
      border: 1px solid #c3e6cb;
      border-radius: 4px;
      text-align: center;
  }
  
  .switch-auth-link {
      font-size: 0.9em;
      color: #555;
  }
  
  .switch-auth-link a {
      color: #8A2BE2;
      font-weight: bold;
      text-decoration: none;
  }
  
  .switch-auth-link a:hover {
      text-decoration: underline;
  }